/mysql
/logs
/app/var/*
/app/etc/local.xml
/app/var/session
/app/var/cache
/app/var/log/dmltech.log
/app/var/report
/app/var/export
/app/var/import
/app/var/locks
/app/var/log
/app/var/package
/app/var/pear
/app/var/session
/app/var/tmp
/app/var/backup
/app/var/backups
/app/var/locks
/app/var/log
/app/var/package

